apiVersion: v1
kind: Secret
metadata:
  name: checkly-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "api_key": "__CHECKLY_API_KEY__",
      "account_id": "__CHECKLY_ACCOUNT_ID__",
      "api_url": "https://api.checklyhq.com"
    }
